<form class="form-signin" name="loginUserForm">
    <h2 class="form-signin-heading">Please log in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" ng-model="loginUser.username" class="form-control" placeholder="Email address" required="required" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" ng-model="loginUser.password" class="form-control" placeholder="Password" required="required">
    <div class="checkbox">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" ng-disabled="loginUserForm.$invalid" type="submit" ng-click="login(loginUser)">Log in</button>
</form>